{% extends 'parent/landing-base.html' %}

{% block title %}Welcome aboard Likewyss{% endblock %}

{% block heading %}Hey, {{ me.name }}{% endblock %}
{% block content %}
			<p>Thanks for signing up with your Twitter account. Although we want to deeply integrate our service with other social networks, we would like to stay independent too. So, please set an email address and password exclusively for accessing your Likewyss account using your username {{ me.screen_name }}</p>
			<form method="post">
				{% csrf_token %}
				<input type="text" placeholder="Enter a valid email address" name="email" id="id_email" />
				<input type="password" placeholder="Enter a strong password" name='password' id="id_password" />
				<button type="submit" class="btn btn-success">Let's get started</button>
			</form>
{% endblock %}
