{% extends "parent/landing-base.html" %}

{% block title %}Hello.{% endblock %}

{% block heading %}Hello.{% endblock %}
{% block helptext %}Nice to meet us? Likewyss.{% endblock %}

{% block content %}
<form action="." method="post">
	{% if form.errors %}
	<p class="text-error">You seem to have entered an invalid email address. Please try again.</p>
	{% endif %}
	<input type="email" name="email" class="input-xxlarge" id="id_email" placeholder="Connect with Facebook, Twitter or use your email address to signup for Likewyss" /><br>
	{% csrf_token %}
	<button type="submit" class="btn btn-success btn-large" title="Use the email address I just gave you"><i class="icon-envelope icon-2x"></i></button>
	<a href="/auth/facebook/" title="Connect with Facebook"><button type="button" class="btn btn-facebook btn-large">&nbsp;&nbsp;<i class="icon-facebook icon-2x"></i>&nbsp;&nbsp;</button></a>
<a href="/auth/twitter/" title="Connect with Twitter"><button type="button" class="btn btn-twitter btn-large"><i class="icon-twitter icon-2x"></i></button></a>
<hr>
	<a href="/auth/login/" title="Login to my existing Likewyss account"><button type="button" class="btn btn-danger btn-large"><i class="icon-unlock icon-large"></i>&nbsp;&nbsp;Or login to Likewyss</button></a>
</form>
{% endblock %}