{% extends 'parent/tricolumnar-base.html' %}

{% block title %}Likewyss - {{ user.username }}{% endblock %}

{% block left-content-wrapper %}
<h1>
	{% if fb %}
		<img src="https://graph.facebook.com/{{ fb.fbk_id }}/picture/?type=square" />
	{% elif tw %}
		<img src="{{ tw.screen_name.profile_image_url }}" />
	{% endif %}
	<a href="/u/{{ user.username }}">{{ user.get_full_name }}</a>
</h1>


{% if fb %}
<a href="https://www.facebook.com/{{ fb.fbk_id }}" target="_blank"><button type="button" class="btn btn-facebook"><i class="icon-facebook"></i></button></a>
{% endif %}

{% if tw %}
<a href="https://www.twitter.com/{{ tw.screen_name }}/" target="_blank"><button type="button" class="btn btn-twitter"><i class="icon-twitter"></i></button></a>
{% endif %}
{% endblock %}

{% block right-content-wrapper %}
{% for p in posts %}
{% include 'includes/post' %}
{% endfor %}
{% endblock %}